APP_ENV=local
NODE_ENV=development
PORT=3001
WEB_ORIGIN=http://localhost:3000
SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_SERVICE_ROLE_KEY=

FABRIC_RENDER_QUEUE_NAME=local_fabric_render_jobs
IN_HOME_SIMULATION_QUEUE_NAME=local_in_home_simulation_jobs
